<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "~{base :: head}"></head>
    <body>
        <div class="container">
            <div class="container-fluid bg-dark text-light p-5 mb-3">
                <h1 class="display-4">Novo Pedidos</h1>
            </div>
            <div class="card mb-3">
                <form th:object="${requisicaoNovoPedidoDto}" action="/pedido/novo" method="POST">
                    <div class="form-group mb-3">
                        <label>Produto</label>
                        <input  th:field="*{nomeProduto}" type="text" class="form-control" th:errorclass="is-invalid" placeholder="Nome do Produto"  aria-describedby="produtoNameHelp">
                        <small id="produtoNameHelp" class="form-text text-muted">Informe qual o nome do produto.</small>
                        <div class="invalid-feedback" th:errors="*{nomeProduto}"></div>
                    </div>
                    <div class="form-group mb-3">
                        <label>Url Produto</label>
                        <input  th:field="*{urlProduto}" type="text" class="form-control" th:errorclass="is-invalid" placeholder="URL do Produto"  aria-describedby="urlProdutoHelp">
                        <small id="urlProdutoHelp" class="form-text text-muted" >Coloque o Link do produto.</small>
                        <div class="invalid-feedback" th:errors="*{urlProduto}"></div>
                    </div>
                    <div class="form-group mb-3">
                        <label>Url Imagem</label>
                        <input type="text"  th:field="*{urlImagem}"class="form-control" th:errorclass="is-invalid" placeholder="Imagem do Produto"  aria-describedby="urlImagemProdutoHelp">
                        <small id="urlImagemProdutoHelp" class="form-text text-muted">Coloque o link da imagem do produto.</small>
                        <div class="invalid-feedback" th:errors="*{urlImagem}"></div>
                    </div>
                    <div class="form-group mb-3">
                        <label>Descrição do produto</label>
                        <textarea th:field="*{descricao}"  class="form-control" placeholder="Coloque detalhes importantes para ajudar o Comprador"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </body>
</html>